<div style="max-width: 200px; height: 600px;" class="demo-popover">
  <div>
    Position:
    <select
      [(ngModel)]="select1"
      (change)="change()"
    >
      <option value="top">Top</option>
      <option value="right">Right</option>
      <option value="bottom">Bottom</option>
      <option value="left">Left</option>
    </select>
  </div>
  <br>
  <div>
    Trigger:
    <select
      [(ngModel)]="select2"
      >
      <option value="click">Click</option>
      <option value="hover">Hover</option>
    </select>
    <button
      tsPopoverTrigger="popper1"
      [position]="select1"
      [popoverTrigger]="select2"
      [popover]="popper1"
      [defaultOpened]="false"
      style="margin: 200px 250px;"
      [id]="myId"
      (popoverOnShown)="popoverOnShown($event)"
      (popoverOnHidden)="popoverOnHidden($event)"
    >{{select2}} me!</button>
  </div>
</div>

<ts-popover #popper1>
  <h1>My Title</h1>
  <p>Other random content.</p>
</ts-popover>
