.card {
  background-color: var(--ts-color-base-white);
  border-radius: var(--ts-border-radius-base);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.20), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

.fake-link {
  position: relative;
  top: -60px;

  &--large {
    top: -70px;
  }
}
