<h1>Scrollbars Mixins</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. Visible</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        <div class="container__inner">
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="demo demo2">
    <h2>2. Hidden</h2>
    <div class="example">
      <pre><code>{{ code2 }}</code></pre>
      <div class="container">
        <div class="container__inner">
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
          <p>
            Culpa nobis qui. Suscipit placeat repudiandae amet quibusdam provident. Nihil iure quasi occaecati impedit.
          </p>
          <p>
            Est assumenda recusandae possimus aut illum natus. Adipisci fugit corporis eum velit. Saepe perspiciatis ipsam eligendi enim impedit repellendus voluptatum.
          </p>
          <p>
            Which enter give voice little. Begin score positive what new idea. Four city order avoid pay boy ahead.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
