<h1>Flexbox Mixins</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. Stretch all, fixed spacing</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="demo demo2">
    <h2>2. Stretched middle, fixed spacing</h2>
    <div class="example">
      <pre><code>{{ code2 }}</code></pre>
      <div class="container">
        <div class="item"></div>
        <div class="item center"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="demo demo3">
    <h2>3. Alternating grid</h2>
    <div class="example">
      <pre><code>{{ code3 }}</code></pre>
      <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="demo demo4">
    <h2>4. 3x3 grid</h2>
    <div class="example">
      <pre><code>{{ code4 }}</code></pre>
      <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="demo demo5">
    <h2>5. Graph: vertical bars</h2>
    <div class="example">
      <pre><code>{{ code5 }}</code></pre>
      <div class="container">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
      </div>
    </div>
  </div>

  <div class="demo demo6">
    <h2>6. Graph: horizontal bars</h2>
    <div class="example">
      <pre><code>{{ code6 }}</code></pre>
      <div class="container">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
      </div>
    </div>
  </div>

  <div class="demo demo7">
    <h2>7. Vertical stack (centered)</h2>
    <div class="example">
      <pre><code>{{ code7 }}</code></pre>
      <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="demo demo8">
    <h2>8. Masonry (mosaic)</h2>
    <div class="example">
      <pre><code>{{ code8 }}</code></pre>
      <div class="container">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
        <div class="item item-6"></div>
        <div class="item item-7"></div>
        <div class="item item-8"></div>
        <div class="item item-9"></div>
        <div class="item item-10"></div>
      </div>
    </div>
    </div>
</section>
