@import '~modern-normalize/modern-normalize.css';
@import 'app/scss/theme';
@import '~@terminus/design-tokens/css/design-tokens.css';
@import 'app/scss/utility-classes';


// Reset:
h1, h2, h3, h4, h5 {
  margin: 0;
}

dl, dt, dd {
  margin: 0;
}

// Base styles:

html {
  background-color: var(--ts-color-base-white);
  color: var(--ts-color-base-black);
  font-family: var(--ts-typography-family-base-roboto);
  font-size: var(--ts-typography-size-300);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

:root {
  --selection-background: var(--ts-color-base-palette4-500);
  --selection-color: var(--ts-color-base-white);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

.visually-hidden {
  $smallest-adjustment: 1px;

  // Avoid some cases where the browser will still render the native controls (see #9049).
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 0;
  clip: rect(0 0 0 0);
  height: $smallest-adjustment;
  margin: -$smallest-adjustment;

  // Avoid browsers rendering the focus ring in some cases.
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: $smallest-adjustment;
}



// Library overwrites:

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
