<header fxLayout="row">
  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    Demos
    <sup>
      ({{ components.length }})
    </sup>
  </div>

  <span fxFlex></span>

  <div class="versions" fxLayout="column">
    <div>
      Last build:
      <strong>INJECTED_TIME</strong><br>
    </div>
    <div>
      Run ID:
      <strong>INJECTED_BUILD_REF</strong><br>
    </div>
    <div>
      Build SHA:
      <strong>INJECTED_SHA</strong><br>
    </div>
  </div>

  <span fxFlex></span>

  <div>
    <ts-selection-list
      label="Select a demo"
      [formControl]="currentPage"
      [displayFormatter]="formatter"
      (queryChange)="queryHasChanged($event)"
      (selectionChange)="pageSelected($event)"
    >
      <ts-option
        *ngFor="let component of simpleResults$ | async"
        [option]="component"
        [value]="component"
      >
        {{ component.data.name }}
      </ts-option>
    </ts-selection-list>
  </div>
</header>


<div class="content">
  <router-outlet></router-outlet>
</div>
