@import '~@terminus/ui-styles/helpers';

.outer {
  @include elevation-element(app-bar);
  background-color: var(--ts-color-navigation-blue);

  span {
    color: var(--ts-color-light);
    padding: 0 1rem;
  }
}

a {
  display: inline-block;
  padding: 8px;
}
