<h1>Take Space Mixin</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. Default</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        <div class="space">
          <div class="space__inner"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="demo demo2">
    <h2>2. With Space</h2>
    <div class="example">
      <pre><code>{{ code2 }}</code></pre>
      <div class="container">
        <div class="space">
          <div class="space__inner"></div>
        </div>
      </div>
    </div>
  </div>
</section>
