<ts-card tsVerticalSpacing>
  <div fxLayout="row" fxLayoutGap="2em">
    <div>
      <div tsVerticalSpacing>
        <label>
          Theme:
          <select name="myTheme" [(ngModel)]="myTheme">
            <option value="{{ theme }}" *ngFor="let theme of themes">
              {{ theme | titlecase }}
            </option>
          </select>
        </label>
      </div>

      <div tsVerticalSpacing>
        <label tsVerticalSpacing>
          Right-align layout:
          <input type="checkbox" [(ngModel)]="layoutIsRightAligned">
        </label>
      </div>

      <div tsVerticalSpacing>
        <label tsVerticalSpacing>
          Show progress
          <input type="checkbox" [(ngModel)]="progress2">
        </label>
      </div>
    </div>

    <div [style.textAlign]="layout">
      <div fxLayout="column" style="min-width:200px;outline:1px solid lightblue;padding:1em;">
        <div tsVerticalSpacing="small--0">
          <ts-button
            [theme]="myTheme"
            (clicked)="run('progress2')"
            [isDisabled]="disabled"
            [showProgress]="progress2"
            [icon]="homeIcon"
          >Click Me!</ts-button>
        </div>

        <div>
          <ts-button
            [theme]="myTheme"
            (clicked)="run('progress2')"
            [isDisabled]="disabled"
            [showProgress]="progress2"
          >
            <ts-icon [icon]="wrenchIcon"></ts-icon>
          </ts-button>
        </div>
      </div>
    </div>
  </div>
</ts-card>


<ts-card tsVerticalSpacing class="double">
  <h3 tsCardTitle tsVerticalSpacing id="title">
    Themes:
  </h3>

  <ts-button
    tsVerticalSpacing
    id="ts-button-id-1"
  >Default</ts-button>

  <ts-button
    [isDisabled]="true"
    tsVerticalSpacing
  >Default - Disabled</ts-button>

  <br>

  <ts-button
    theme="secondary"
    tsVerticalSpacing
  >Secondary</ts-button>

  <ts-button
    theme="secondary"
    tsVerticalSpacing
    [isDisabled]="true"
  >Secondary - Disabled</ts-button>

  <br>

  <ts-button
    theme="warning"
    tsVerticalSpacing
  >Warning</ts-button>

  <ts-button
    theme="warning"
    tsVerticalSpacing
    [isDisabled]="true"
  >Warning - Disabled</ts-button>
</ts-card>


<ts-card tsVerticalSpacing>
  <div fxLayout="column" fxLayoutAlign="start end" style="padding-right: 2rem;">
    <h3 tsCardTitle tsVerticalSpacing>
      Collapsible
    </h3>

    <ts-button
      [icon]="addIcon"
      [format]="formatCollapsible"
      tsVerticalSpacing
    >New Campaign / New Tactic</ts-button>

    <ts-button
      theme="secondary"
      [icon]="addIcon"
      [format]="formatCollapsible"
      tsVerticalSpacing
    >New Campaign / New Tactic</ts-button>

    <ts-button
      theme="warning"
      [icon]="addIcon"
      [format]="formatCollapsible"
      tsVerticalSpacing
    >New Campaign / New Tactic</ts-button>

    <ts-button
      [icon]="addIcon"
      [format]="formatCollapsible"
      [isDisabled]="true"
      tsVerticalSpacing
    >Rounded - Disabled</ts-button>
  </div>
</ts-card>
