<ts-card>
  <div fxLayout="row" fxLayoutAlign="start center" tsVerticalSpacing>
    <div>
      <ts-icon-button (clicked)="clickTheme('default')" [icon]="iconRocketLaunch"></ts-icon-button>
    </div>

    <div>
      <ts-button>Test for alignment with standard button</ts-button>
    </div>
  </div>


  <div tsVerticalSpacing>
    <ts-icon-button
      theme="primary"
      [icon]="iconBacteria"
      (clicked)="clickTheme('primary')"
    ></ts-icon-button>
  </div>

  <div tsVerticalSpacing>
    <ts-icon-button
      theme="accent"
      [icon]="iconPortalEnter"
      (clicked)="clickTheme('accent')"
    ></ts-icon-button>

    <ts-icon-button
      theme="warn"
      [icon]="iconPortalExit"
      (clicked)="clickTheme('warn')"
    ></ts-icon-button>
  </div>
</ts-card>
