<h1>Visually Hidden Mixin</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. Mixin</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        (inspect this container to see the hidden contents)
        <div class="hidden">
          Reprehenderit sed ipsum distinctio aliquam exercitationem.
          Soluta architecto laboriosam. Dolores explicabo atque numquam accusamus sint nostrum.
        </div>
      </div>
    </div>
  </div>

  <div class="demo demo2">
    <h2>1. Utility class</h2>
    <div class="example">
      <pre><code>{{ code2 }}</code></pre>
      <div class="container">
        (inspect this container to see the hidden contents)
        <div class="u-visually-hidden">
          Reprehenderit sed ipsum distinctio aliquam exercitationem.
          Soluta architecto laboriosam. Dolores explicabo atque numquam accusamus sint nostrum.
        </div>
      </div>
    </div>
  </div>
</section>
