<h1>Responsive Ratio Mixin</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. 16x9</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        <div class="ratio"></div>
      </div>
    </div>
  </div>

  <div class="demo demo2">
    <h2>2. 1x1</h2>
    <div class="example">
      <pre><code>{{ code2 }}</code></pre>
      <div class="container">
        <div class="ratio"></div>
      </div>
    </div>
  </div>

  <div class="demo demo3">
    <h2>3. Image</h2>
    <div class="example">
      <pre><code>{{ code3 }}</code></pre>
      <div class="container">
        <div class="ratio"></div>
      </div>
    </div>
  </div>
</section>
