@import '~@terminus/ui-styles/helpers';


.display {
  &-4 {
    font: var(--ts-typography-compound-display4);
  }

  &-3 {
    font: var(--ts-typography-compound-display3);
  }

  &-2 {
    font: var(--ts-typography-compound-display2);
  }

  &-1 {
    font: var(--ts-typography-compound-display);
  }
}

.headline {
  font: var(--ts-typography-compound-headline);
}

.title {
  font: var(--ts-typography-compound-title);
}

.subhead {
  font: var(--ts-typography-compound-subhead);
}

.body {
  &-2 {
    font: var(--ts-typography-compound-body2);
  }

  &-1 {
    font: var(--ts-typography-compound-body);
  }

  &-mono {
    font-family: var(--ts-typography-stack-monospaced);
  }
}

.caption {
  font: var(--ts-typography-compound-caption);
}
