<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Standard icons</h3>

  <div tsVerticalSpacing>
    <ts-icon [icon]="coffee"></ts-icon>
    <ts-icon [icon]="home"></ts-icon>
    <ts-icon [icon]="queue"></ts-icon>
    <ts-icon [icon]="horse"></ts-icon>
  </div>

  <div>
    Test me out
    <ts-icon [icon]="home"></ts-icon>
    for horizontal rhythm
    <ts-icon [icon]="queue"></ts-icon>
    to make sure
    <ts-icon [icon]="signs"></ts-icon>
    everything looks fine.
  </div>
</ts-card>

