<h1>Breakpoints Mixin</h1>

<section class="demos">
  <div class="demo demo1">
    <h2>1. Breakpoints</h2>
    <div class="example">
      <pre><code>{{ code1 }}</code></pre>
      <div class="container">
        <div>
          Active breakpoints:
          <small>(open the canvas in a new tab for accurate sizing)</small>
        </div>
        <ul class="container-inner">
          <li class="item item--layout-xs">layout-xs</li>
          <li class="item item--layout-gt-xs">layout-gt-xs</li>
          <li class="item item--layout-sm">layout-sm</li>
          <li class="item item--layout-gt-sm">layout-gt-sm</li>
          <li class="item item--layout-md">layout-md</li>
          <li class="item item--layout-gt-md">layout-gt-md</li>
          <li class="item item--layout-lg">layout-lg</li>
          <li class="item item--layout-gt-lg">layout-gt-lg</li>
          <li class="item item--layout-xl">layout-xl</li>
        </ul>
      </div>
    </div>
  </div>
</section>
