:host {
  display: block;
  height: 100vh;
}

.app-container {
  height: 100%;
}

// stylelint-disable selector-type-no-unknown
::ng-deep router-outlet + * {
  flex: 1 1 0;
  padding: var(--ts-space-inset-400);
}
// stylelint-enable selector-type-no-unknown


